database_replication-1.0@EnterpriseServer/schemas/CRM.ON_EXCEPTION.xsd

<?xml version="1.0" encoding="UTF-8" ?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="Error"><xs:complexType><xs:sequence><xs:element name="ErrorCode" type="xs:string"/><xs:element name="ErrorMessage" type="xs:string"/><xs:element name="ErrorTrace" type="xs:string" minOccurs="0"/><xs:element name="InputMessage" type="xs:string" minOccurs="0"/></xs:sequence></xs:complexType></xs:element></xs:schema>